<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>票种信息维护</title>
</head>
<style type="text/css">
*{
    font-size:18px;
}
tr{
  width:1300px;line-height:21px;padding:0;margin:0  
}
td{
  float:left;text-align:left;overflow: hidden; text-overflow:ellipsis;
}
.clear{
    clear:both;
}
</style>

<body>
<div align="center">
    <strong>票种信息维护||</strong>
    <a href="./index.php?action=hygl">退出</a>
    <br/>
    <hr>
    <table width="100%" height="50"  border="1" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
    <tr bgcolor="#999999">
      <td width="4%">选则</td>
      <td width="3%">票种名称</td>
      <td width="5%">单价</td>
      <td width="20%">备注</td>
     </tr>
    </table>
    <div class='clear'></div>
    <{section name=i loop=$list}>
        <table width="100%" height="51"  border="1" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
        <tr bgcolor="#CCCCCC">
        <td width="4%"><input type="checkbox" class="child" name="gid[]" value="<{$list[i].name}>"/></td>
        <td width="3%"><{$list[i].name}></td>
        <td width="5%"><{$list[i].price}></td>  
        <td width="20%"><{$list[i].remark}></td>
        <td width="5%"><a href="javascript:if(confirm('确实要删除该票种吗?'))location='admin_del_pzwh.php?id=<{$list[i].name}>'">删除</a></td>
        </tr> 
        </table>
        <div class='clear'></div>
    <{/section}>
    <{$page}>   
    </div>

</body>
</html>
