<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发送站内信</title>
</head>
<style type="text/css"> 
*{
    font-size:20px;
}
body {background-color: green}
</style>
<body><center>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
    <a href="center.php">用户中心</a> >> 发送信息
    <a href="center.php">返回</a>
    <br/>
    <hr/ size='3' width='300' align=center>
    <form action='center.php?action=send_save' method='POST' name='form1' id='form1'>
    收件人：<select name='to_id' id='to_id'>
    <{section name=i loop=$list}>
        <option value='<{$list[i].yd_id}>'><{$list[i].yd_name}></option>
    <{/section}>
    </select><br/>
    标题：<input name='title' id='title'>
    <br><br>
    内容:&nbsp&nbsp<textarea name='content' id='content' rows=5 ></textarea>
    <br/>
    <input type='submit' value='发送'>
    </form>
</center>
</body>
</html>
