<div id="writeContent">
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
   <form action="center.php?action=write_save" method="post" name="writeform">
     <table width="550" border="0" align="center" cellpadding="10" cellspacing="0">
       <tr class="firstTr">
          <td colspan="2"><strong>发布留言</strong> ：| <a href="center.php">返回</a></td>
        </tr>
         <tr>
            <td align="right">标题 ：</td>
            <td><input name="title" type="text" id="title" size="50" /></td>
         </tr>
         <tr>
           <td align="right">内容 ：</td>
             <td><textarea name="content" cols="50" rows="5" id="content"></textarea></td>
            </tr>
            <tr>
              <td align="right">密码：</td>
              <td><input type="text" name="pass" id="pass" />（当编辑或删除留言时需要此密码）</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input class="bStyleCommon loginB" type="submit" name="submitb" id="submitb" value="提交" />
                  <input class="bStyleCommon loginB" type="reset" name="button2" id="button2" value="清除" /></td>
           </tr>
        </table>
</form>
</div>
